body
	background #fff
	h3
		font-family 'microsoft yahei', sans-serif	
		color #ff8000
		font-size 5rem
		padding-bottom 20px
		text-align center
#home
	font-family 'microsoft yahei', sans-serif
	h1
		color #FF8000
		font-size 6rem
		padding-bottom 30%
	.avatar
		clear left
		overflow hidden
		border-bottom 3px solid #FF8000
		.img
			float left
			width 30%
			img
				width 100%
		.info
			float left
			margin-top 6%
			margin-left 50px
			span
				display block
#about
	font-family 'PT Sans'
	.title
		width 100%
		border-bottom 3px solid #FF8000
		span
			display block
			color #FF8000
			font-size 5rem
	.works
		font-family 'microsoft yahei'
		ul
			li
				padding 20px
				span
					&:first-child
						font-size 3rem
						display block
					&:nth-child(2)
						padding-left 50px
#what
	.html5-logo
		display block
		text-align center
	.question
		padding 5px 10px
		background #FF8000
		color #fff
		opacity 0.7
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -245px;
		text-align center
		animation fadeIn 10s
		-webkit-animation fadeIn 10s
		
@keyframes fadeIn{
	0%   {opacity: 0;}
	50%   {opacity: 0.5;}
	100% {opacity: 1;}
}
@-webkit-keyframes fadeIn{
	0%   {opacity: 0;}
	50%   {opacity: 0.5;}
	100% {opacity: 1;}
}

.step
	.link
		font-size 2rem
		text-align right
		